.cart {
    padding: 200px 0 30px 0;
    background-color: rgb(246,246,246);
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        width: 100%;
        padding: 0 15px;
    }
    &__table {
        width: 100%;
    }
    &__table-header-row {
        th {
            padding: 15px 10px;
            border-bottom: 2px solid rgba(0,0,0,.075);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
        }
        th:last-child {
            text-align: right;
        }
    }
    &__table-body-row {
        td {
            padding: 15px 10px;
            border-bottom: 1px solid rgba(0,0,0,.12);
        }
        td:last-child {
            text-align: right;
        }
    }
    &__table-body-romove {
        &::before {
            content: '\2573';
            font-size: 11px;
            cursor: pointer;
        }
    }
    &__table-body-thumbnail {
        img {
            height: 80px;
            width: 80px;
            object-fit: contain;
        }
    }
    &__table-body-name, &__table-body-price {
        color: rgb(119,119,119);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    &__table-body-name {
        color: rgb(51,51,51);
    }
    &__table-body-price {
        opacity: 0.5;
    }
    &__table-body-subtota {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    &__total {
        padding: 0 15px;
        width: 50%;
    }
    &__total-wrapper {
        padding: 25px;
        border: 3px solid rgba(0,0,0,.075);
    }
    &__total-title {
        font-size: 22px;
        text-transform: uppercase;
        padding: 0 10px;
    }
    &__total-dilivery {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0,0,0,.075);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 15px 10px;
        span {
            font-weight: 400;
        }
    }
    &__total-price {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        padding: 15px 10px;
    }
    span {
        font-size: 18px;
    }
    &__empty {
        display: grid;
        grid-template: 160px 1fr 1fr / 1fr;
        row-gap: 10px;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &__empty-title {
        text-align: center;
        font-size: 42px;
    }
    &__empty-title-btn {
        justify-self: center;
    }
}