.counter {
    width: 80px;
    display: flex;
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgb(0,0,0,.1);
    &__minus, &__plus, &__number {
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #777777;
        text-align: center;
        width: 25px;
    }
    &__number {
        width: 30px;
    }
}
