@import '../base/variables.scss';

.btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    outline: none;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: $main-color;
    color: #fff;
    border-radius: 5px;
    &:hover {
        color: #fff;
        background-color: $second-color;
    }
}