@import '../../assets/scss/base/variables.scss';

.card-list {
    display: grid;
    grid-template: 430px / repeat(5, 238px);
    grid-auto-rows: 430px;
    gap: 20px;
    list-style-type: none;
    padding: 30px 10px 40px 10px;
    &__item {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px #E9EAE6;
        border-radius: 10px;
        padding: 15px;
        transition: 0.2s all;
        &:hover {
            transform: translateY(-1%);
            box-shadow: none;
        }
    }
    &__item-hover {
        position: absolute;
        left: -15px;
        right: -15px;
        top: -20px;
        bottom: -20px;
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgb(0 0 0 / 15%);
        z-index: -2;
        transition: all 0.5s;
    }
    &__item-hover_active {
        visibility: visible;
        opacity: 1;
    }
    &__item-lable {
        position: absolute;
        padding: 0 12px;
        height: 22px;
        background: #E22D2D;
        border-radius: 20px;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__item-wrapper {
        display: grid;
        grid-template-rows: 202px 1fr;
        row-gap: 10px;
    }
    &__item-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__item-content {
        display: grid;
        grid-template-rows: 76px 48px 64px;
    }
    &__item-title {
        font-weight: 500 ;
        min-height: 19px;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
    }
    &__item-model {
        font-weight: 400;
        width: 114px;
        height: 23px;
        background: #E4E3EA;
        border-radius: 50px;
        text-align: center;
        font-size: 12px;
        line-height: 22px;
        a {
            color: #153170;
            font-weight: 500;
            &:hover {
                color: #153170;
            }
        }
    }
    &__item-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-self: end;
    }
    &__item-price-now {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        margin-left: 4px;
    }
    &__item-price-old {
        text-decoration-line: line-through;
        line-height: 21px;
        font-weight: 500;
        font-size: 14px;
        color: rgb(102,102,102);
    }
    &__item-basket {
        position: relative;
        width: 62px;
        height: 42px;
        background: $main-color;
        border-radius: 8px;
        cursor: pointer;
        img {
            position: absolute;
            width: 60%;
            height: 60%;
            object-fit: contain;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}