.checkout {
    padding: 150px 0 50px 0;
    background-color: rgb(246,246,246);
    &__form {
        display: flex;
        justify-content: space-between;
    }
    &__form-left, &__form-right  {
        padding: 0 15px;
        width: 50%;
    }
    &__form-info {
        margin: 30px 0;
    }
    &__form-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__form-block {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 20px;

    }
    &__form-info-group:last-child {
        grid-column: 1 / 3;
    }
    &__form-info-lable {
        display: block;
        color: rgb(36,36,36);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 5px;
    }
    &__form-info-input {
        padding: 0 15px;
        width: 100%;
        height: 42px;
        border: 2px solid rgba(0,0,0,.1);
        border-radius: 5px;
        background-color: transparent;
        vertical-align: middle;
        font-size: 14px;
        outline: none;
    }
    &__form-delivery {
        position: relative;
    }
    &__form-delivery-select, &__form-delivery-input {
        padding: 9px 28px 9px 12px;
        background: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
        height: 46.3px;
        color: #000;
        border-radius: 0;
    }
    &__form-delivery-select-lable {
        position: relative;
        bottom: 64px;
        padding-left: 12px;
        line-height: 43px;
        cursor: pointer;
        z-index: 1;
        color: rgb(0,0,0, .6);
        &:after {
            content: '';
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2.4px;
            transform: rotate(45deg);
            position: absolute;
            right: 6px;
            top: 16px;
        }
    }
    &__form-delivery-city-search {
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 25px 25px;
        position: relative;
        bottom: 20px;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        padding: 9px 28px 9px 30px;
        width: 100%;
    }
    &__form-delivery-select-list {
        position: absolute;
        top: 228px;
        width: 100%;
        list-style-type: none;
        max-height: 260px;
        overflow-y: auto;
        background-color: #fff;
        z-index: 99;
    }
    &__form-delivery-select-item, &__form-delivery-warehouse-select-item {
        position: relative;
        padding: 10px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: rgb(51,51,51);
        &:hover {
            background-color: rgb(0,0,0, .1);
        }
    }
    &__form-delivery-warehouse-select-list {
        display: none;
        position: absolute;
        top: 247px;
        width: 100%;
        list-style-type: none;
        max-height: 260px;
        overflow-y: auto;
        background-color: #fff; 
    }
    &__form-delivery-select-none {
        position: relative;
        bottom: 20px;
        width: 100%;
        padding: 5px;
        color: red;
    }
    &__form-delivery-select-loading {
        position: relative;
        bottom: 20px;
        width: 100%;
        padding: 5px;
        color: #000;
        background-color: #fff;
        text-align: center;
    }
    &__form-delivery-warehouse-select-loading {
        width: 100%;
        padding: 5px;
        color: #000;
        background-color: #fff;
        text-align: center;
    }
    &__form-info-textarea {
        width: 100%;
        height: 190px;
        border: 2px solid rgba(0,0,0,.1);
        border-radius: 5px;
        background-color: transparent;
        padding: 10px 15px;
        font-size: 14px;
    }
    &__form-right {
        .checkout__form-title {
            text-align: center;
        }
    }
    &__form-check {
        padding: 5px 15px;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
    }
    &__form-header, &__form-list-item, &__form-footer-delivery, &__form-footer-total {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 15px 10px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    &__form-footer-total {
        border-bottom: none;
    }
    &__form-header-name, &__form-header-price {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__form-list {
        list-style-type: none;
    }
    &__form-header-price, &__form-list-item-price, &__form-footer-delivery>span,  &__form-footer-total>span{
        text-align: right;
    }
    &__form-list-item {
        color: #777777;
        font-size: 15px;
        font-weight: 400;
        border-top: 1px solid rgba(0,0,0,.1);
        span {
            font-weight: 600;
        }
    }
    &__form-footer-delivery {
        font-size: 16px;
        font-weight: 700;
        span {
            font-weight: 400;
        }
    }
    &__form-footer-total {
        font-size: 18px;
        font-weight: 700;
        span {
            font-size: 22px;
        }
    }
    &__form-checkbox {
        margin: 20px 0;
    }
    &__form-checkbox-group {
        margin-bottom: 15px;
    }
    &__form-checkbox-card,  &__form-checkbox-cash{
        margin-right: 5px;
    }
    &__form-checkbox-lable {
        font-size: 14px;
        font-weight: 400;
    }
    .container {
        position: relative;
    }
    &__spinner {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        opacity: .6;
        .spiner {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            top: 30%;
        }
    }
}