@import '../../assets/scss/base/variables.scss';

.product {
    padding-top: 120px;
    background-color: #fbf2fb;
    &__main {
        background-color: rgb(240,240,240);
        border-bottom: 1px solid rgba(0, 0, 0, 0.105);
    }
    &__wrapper {
        padding: 90px 0 10px 0;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    &__img {
        width: 541px;
        height: 601px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__breadecrums {
        display: grid;
        grid-template-columns: 600px 1fr;
        column-gap: 10px;
        align-items:baseline;
    }
    &__name {
        margin-top: 20px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #333333;
    }
    &__price {
        margin-top: 20px;
        color: rgb(17,17,17);
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
    }
    &__dscr {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #777777;
    }
    &__select {
        width: 200px;
        position: relative;
        text-align: center;
        margin-top: 30px;
        border: 1px solid #969696;
        border-radius: 5px;
        height: 40px;
        background-color: transparent;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__select-btn {
        position: absolute;
        right: 9px;
        top: 12px;
        border: solid black;
        border-width: 0 2px 2px 0;
        padding: 4px;
        transform: rotate(45deg);
        cursor: pointer;
        transition: all .3s;
    }
    // &__select-btn_rotate {
    //     transform: rotate(225deg);
    //     top: 16px;
    // }
    &__select-variants {
        width: 200px;
        position: absolute;
        left: 0;
        top: 40px;
        z-index: 10;
        background-color: #fff;
        max-height: 200px;
        overflow-y: auto;
    }
    &__select-mainvariant {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        line-height: 35px;
        cursor: pointer;
    }
    &__select-variant { 
        text-align: center;
        padding: 5px 10px;
        &:hover {
            background-color: rgba(0,0,0,.1);
        }
        a {
            color: #000;
        }
    }
    &__amount {
        position: relative;
        margin-top: 40px;
        border-top: 1px solid rgba(119,119,119, .5);
        padding: 8px 20px;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        color: #85B951;
        &::before {
            content: '\2713';
            position: absolute;
            left: 3px;
        }
    }
    &__form {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 253px;
    }
    &__form-button {
        width: 160px;
        height: 42px;
        background: #FC6320;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    &__category {
        margin-top: 40px;
        border-top: 1px solid rgba(119,119,119, .5);
        padding-top: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #777777;
        span, a {
            margin-left: 4px;
            color: #333333;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
        }
        a {
            font-weight: 400;
            color: #777777;
        }
    }
    &__info {
        margin-top: 30px;
        display: grid;
        grid-template: 78px / repeat(4, 155px);
        column-gap: 10px;
    }
    &__bottom {
        padding: 10px 0;
        background-color: #fff;
    }
    &__bottom-title {
        font-size: 16px;
        color: rgb(51, 51, 51);
        font-weight: 700;
        text-align: center;
        &::after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 4%;
            height: 2px;
            background-color: $main-color;
        }
    }
    &__additional-info {
        margin-top: 30px;
        font-size: 14px;
        color: #ff0000;
        font-weight: 400;
    }
    &__info-item {
        border-radius: 16px;
        border: 2px solid rgb(0,0,0,0.1);
        box-shadow: 0 0 15px rgb(0,0,0,0.1);
        padding: 7px;
        display: grid;
        grid-template-columns: 30px 1fr;
        column-gap: 10px;
        align-items: center;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &__info-item-title {
        font-weight: 700;
        text-align: center;
    }
    &__info-item-subtitle {
        font-size: 14px;
        text-align: center;
    }
    &__dscr {
        margin-top: 30px;
    }
    &__spinner {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}