@import '../../assets/scss/base/variables.scss';

.footer {
    padding: 40px 20px 0;
    &__main {
        display: grid;
        grid-template-columns: 295px 3fr 1fr;
        column-gap: 50px;
        padding: 101px 20px 45px;
        border-radius: 64px 64px 0 0;
        background-color: #fff;
        box-shadow: 0 0 15px #e9eae6;
    }
    &__left-block {
        background-color: $main-color;
        border-radius: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__center-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    &__menu-title, &__delivery-title, &__pay-title, &__sosial-title {
        font-family: 'Roboto Condensed';
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    &__menu-list, &__delivery-list, &__pay-list {
        margin-top: 20px;
        list-style-type: none;
    }
    &__menu-item>a, &__delivery-item, &__pay-item, &__privacy>a {
        font-family: 'Roboto Condensed-light';
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000;
    }
    &__sosial-wrapper {
        margin-top: 20px;
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__sosial-telegram, &__sosial-instagram {
        cursor: pointer;
    }
    &__bottom {
        position: relative;
        background-color: #fff;
        padding: 0  0 10px 20px;
    }
    &__privacy {
        position: absolute;
        text-align: center;
        right: 50%;
        top: 0;
        transform: translateX(50%);
        a {
            text-decoration: underline;
        }
    }
    a {
        &:hover {
            color: $main-color;
        }
    } 
}