@import '../../assets/scss/base/variables.scss';

.search {
    position: relative;
    height: 25px;
    width: 40px;
    transition: all .5s;
    &__img {
        height: 25px;
        width: 40px;
        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &_active {
        width: 180px;
    }
    &__line {
        outline: none;
        border: 0;
        position: absolute;
        left: 35px;
        text-align: center;
        transition: all .5s;
        width: 0;
        bottom: 0;
        border-bottom: 1px solid #000;
        overflow: hidden;
        border-radius: 0;
    }
    &__line_active {
        width: 140px;
    }
    &__result {
        position: absolute;
        top: 62px;
        width: 100%;
        background-color: #fff;
    }
    &__result-list {
        list-style-type: none;
        max-height: 260px;
        overflow-y: auto;
    }
    &__result-item {
        position: relative;
        padding: 5px;
        border-bottom: 1px solid rgba(0,0,0, 0.105);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &:hover {
            background-color: rgb(0,0,0, .1);
        }
    }
    &__result-link {
        display: grid;
        grid-template: 73px / 1fr 3fr;
        column-gap: 15px;
    }
    &__result-info {
        position: relative;
        padding-right: 20px;
    }
    &__result-title {
        margin-bottom: 8px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: rgb(51,51,51);
        strong {
            background-color: $main-color;
        }
    }
    &__result-more {
        padding: 0 10px;
        display: flex;
        justify-content: end;
        a {
            color: #000;
            text-decoration: underline;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__result-list-text {
        padding: 5px;
        color: red;
    }
}
