@import '../../assets/scss/base/variables.scss'; 

.question {
    padding: 150px 0 30px 0;
    &__title {
        text-align: center;
        font-size: 50px;
        margin-bottom: 80px;
    }
    &__block {
        position: relative;
        width: 50%;
        margin: 0 auto;
    }
    &__block-title {
        padding: 25px 30px;
        text-align: left;
        font-size: 24px;
        line-height: 1.35;
        font-weight: 600;
        background-color: #efefef;
    }
    &__block-btn {
        position: absolute;
        right: 25px;
        top: 17px;
        display:inline-block;
        width:50px;
        height:50px;
        background:
            linear-gradient($main-color, $main-color),
            linear-gradient($main-color, $main-color),
            #fff;
        background-position:center;
        background-size: 50% 3px,3px 50%; 
        background-repeat:no-repeat;
        border-radius: 100%;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            background:
            linear-gradient(#fff, #fff),
            linear-gradient(#fff, #fff),
            $main-color;
            background-position:center;
            background-size: 50% 3px,3px 50%; 
            background-repeat:no-repeat;
        }
    }
    &__block-dscr {
        height: 0px;
        overflow: hidden;
        padding: 0 13px;
        margin: 10px 0;
        background-color: #efefef;
        border-radius: 5px;
        font-size: 16px;
    }
    &__block-dscr_show {
        height: 100%;
        overflow: visible;
        padding: 10px 30px;
    }
}