.bread-crumbs {
    &__link {
        color: #777;
        text-decoration: none;
        font-size: 12px;
        margin-right: 10px;
        &::after {
            content: '/';
            margin-left: 6px;
        }
    }
    &__link_active {
        font-weight: 600;
        color: rgb(51, 51, 51);
        cursor: auto; 
        &::after {
            content: '';
        }
    }
}