.filter-slider {
    padding: 45px 0 34px 0;
    .splide__list {
        justify-content: center;
    }
}

.slide {
    text-align: center;
    cursor: pointer;
    a {
        display: grid; 
        grid-template: 120px 19px 22px / 154px;
        justify-items: center;
        row-gap: 8px;
    }
    &__item-sircle {
        position: relative;
        width: 120px;
        height: 120px;
        margin: 0 17px;
        border: 2px solid #E9E6E3;
        border-radius: 60px;
        transition: .3s all;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 87%;
            height: 90%;
            object-fit: contain;
        }
    }
    &__item-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #34303D;
    }
    &__item-subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #E86D5C;
    }
}

.filters {
    .splide__arrows {
        .splide__arrow--prev, .splide__arrow--next {
            top: 58px
        } 
    }
}

.splide {
    &__arrow {
        background: none !important;
        outline: none !important;
        svg {
            width: 31px !important;
            height: 31px !important;
        }
    }
    .splide__arrows {
        .splide__arrow--prev {
            transform: translateX(-65px);
            opacity: 0;
            transition: all .3s;
        }
        .splide__arrow--prev_show {
            transform: translateX(-50px) !important; 
            opacity: .3 !important;
        }
        .splide__arrow--next {
            transform: translateX(65px);
            opacity: 0;
            transition: all .3s;
        }
        .splide__arrow--next_show {
            opacity: .3 !important;
            transform: translateX(50px) !important; 
        }
    }
}

